body {
	font-family: monospace;
	background-color: rgba(45, 112, 13, 0.425);
}
.boxes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.div {
	width: 90px;
	height: 90px;
	margin: 2px;
	border-radius: 8%;
	background-color: rgba(255, 255, 255, 0.664);
	font-size: 28px;
	font-weight: 700;
	border: 2px solid black;
	box-sizing: border-box;
	display: grid;
	align-self: center;
	justify-self: center;
}
.div:focus {
	outline: none;
}
h1 {
	text-align: center;
	font-size: 35px;
	font-weight: 800;
	margin-bottom: 5px;
	margin-top: 5px;
	color: rgba(90, 14, 145, 0.788);
	border-bottom: 3px ridge black;
	border-color: white;
}

.reset,
.start {
	width: 80%;
	height: 50px;
	background-color: rgba(90, 14, 145, 0.788);
	color: whitesmoke;
	font-size: 25px;
	font-weight: 800;
	border: 3px solid black;
	border-radius: 5%;
}
.reset:focus,
.start:focus {
	outline: none;
}
.button {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 50px;
	justify-items: center;
}
.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	margin-bottom: 0px;
}
.time {
	justify-self: right;
	margin-bottom: 0;
}
.score {
	justify-self: left;
	margin-bottom: 0;
}
.q {
	text-align: center;
	font-size: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid black;
	background-color: rgba(90, 14, 145, 0.788);
	color: white;
	width: auto;
}
