body {
  background-color: rgb(18, 18, 19);
  font-family: "Merriweather", serif;
  font-size: 16px;
  min-width: 250px;
  min-height: 250px;
  max-width: 500px;
  max-height: 800px;
  margin-top: 0;
  text-align: center;
  color: rgb(181, 159, 59);
  text-align: center;
  margin: 0 auto;
}
h1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 10px;
}
p {
  color: rgb(58, 58, 60);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.box:after,
.minibox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.box,
.minibox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 2rem;
  border: 1px solid white;
  border-radius: 5%;
  background-color: rgb(18, 18, 19);
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  margin-bottom: 5px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 120px;
  margin-top: 50px;
}
.btn {
  font-weight: 600;
  font-family: "Merriweather", serif;
  margin-top: 70px;
  font-size: 1.2rem;
  line-height: 2.5rem;
  width: 30%;
  border: none;
  background-color: rgb(58, 58, 60);
  color: white;
  padding: 6px;
  border-radius: 5%;
}
nav {
  width: 100%;
  padding: 0;
  border-radius: 5%;
}
.navdiv {
  background-color: rgb(58, 58, 60);
  width: 30%;
  line-height: 1.4rem;
  border-radius: 5%;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  align-items: flex-start;
  font-size: 1rem;
}
li {
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.keys button {
  background-color: lightgray;
  border: none;
  border-radius: 10%;
  width: 9%;
  line-height: 3.3rem;
  user-select: none;
}
.key-row {
  margin-top: 15px;
  width: 100%;
}
#submit {
  width: 10%;
  background-color: rgb(120, 177, 89);
  font-weight: bold;
}
#delete {
  font-weight: bold;
}
.keys {
  margin-top: 30px;
}
button:focus {
  outline: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 2px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(18, 18, 19);
  color: white;
  width: 60%;
  height: 50%;
  padding: 10px;
  transition: 300ms ease-in-out;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgb(58, 58, 60);
  pointer-events: none;
  transition: 300ms ease-in-out;
}
.modal-header {
  padding: 5px 11px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
}
.modal-header .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-header .close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
#overlay.active {
  opacity: 0.5;
  pointer-events: all;
}
#next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  float: right;
  margin-top: 10px;
}
